* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  padding-right: 100px;
  height: 80px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.menu__list {
  display: flex;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

.link {
  text-decoration: none;
  margin: 0 20px;
}

.logo {
  width: 250px;
  height: 50px;
}

.slider {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.slider-list {
  display: flex;
  animation: cambio 20s infinite alternate;
  width: 400%;
  height: 100%;
}

.list__item {
  width: 100%;
  list-style-type: none;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.img1 {
  object-position: 0 -200px;
}

.img2 {
  object-position: 0 -200px;
}

.container {
  width: 100%;
  height: 550px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container-text {
  width: 100%;
  height: 200px;
}
.container .container-text .text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  background-color: rgba(151, 178, 163, 0.13);
  padding-top: 100px;
}

.article {
  display: flex;
  margin: 0 150px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 5px gray;
  background-color: #fff;
  margin-bottom: 70px;
  transition-duration: 0.3s;
}
.article:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  box-shadow: 0 10px 10px #9e9e9e;
}

.img__card {
  width: 250px;
}

.container-info {
  padding: 20px 50px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #005a00;
  text-align: center;
  margin-bottom: 20px;
}

.article__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #005a00;
  text-align: center;
  margin-bottom: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #00b351;
  text-align: center;
  border-radius: 20px;
  margin: auto;
}
.button:active {
  transform: scale(0.9);
}

.button1 {
  width: 200px;
}

.button2 {
  width: 200px;
}

.button__link {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.article-info {
  background-color: #2f3945;
  padding-bottom: 80px;
}

.container-section {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url(../../assets/video-call.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container-section .subtitle-section {
  margin-top: 1.8em;
  color: white;
}

.video__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.video__info {
  padding: 0 350px;
}
.video__info .info__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
}
.video__info .info {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.button-rtc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  margin: auto;
  border-radius: 20px;
  background-color: #fcb900;
}
.button-rtc .link__rtc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
}

.footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #212a35;
}

.container-footer {
  max-width: 200px;
  max-height: 150px;
}
.container-footer .footer__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #757575;
  text-align: center;
  text-transform: uppercase;
}
.container-footer .footer__img {
  max-width: 100%;
  max-height: 100%;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=styles.css.map */
