
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    padding-right: 100px;
    height: 80px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
.menu__list{
    display: flex;
    list-style: none;
    font-family: $font;
    font-weight: 600;
    font-size: 1.4em;
}
.link{
    text-decoration: none;
    margin: 0 20px;
}
.logo{
    width: 250px;
    height: 50px;
}

