@import '../variables';
.main{
    background-color: $colorBackground;
    padding-top: 100px;
}
.article{
    display: flex;
    margin: 0 150px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 5px gray;
    background-color: #fff;
    margin-bottom: 70px;
    transition-duration: 0.3s;
    &:hover{
        transform: scale(1.05);
        transition-duration: 0.5s;
        box-shadow: 0 10px 10px rgb(158, 158, 158);
    }
}
.img__card{
    width: 250px;
}
.container-info{
    padding: 20px 50px;
}
.subtitle{
    font-family: $font;
    font-weight: 600;
    font-size: 2em;
    color: rgb(0, 90, 0);
    text-align: center;
    margin-bottom: 20px;
}
.article__text{
    font-family: $font;
    font-weight: 400;
    font-size: 1.1em;
    color: rgb(0, 90, 0);
    text-align: center;
    margin-bottom: 40px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: $colorFair;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    &:active{
        transform: scale(.9);
    }
}
.button1{
    width: 200px;
}
.button2{
    width: 200px;
}
.button__link{
    font-family: $font;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}
.article-info{
    background-color: $colorBackground2;
    padding-bottom: 80px;
}
.container-section{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image:  url(../../assets/video-call.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .subtitle-section{
        font-family: $font;
        font-weight: 700;
        font-size: 2.5em;
        color: #fff;
    }
}
.video__subtitle{
    font-family: $font;
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.video__info{
    padding: 0 350px;
    .info__text{
    text-align: center;
    font-family: $font;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
    }
    .info{
    text-align: center;
    font-family: $font;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    }
}
.button-rtc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    margin: auto;
    border-radius: 20px;
    background-color: #fcb900;
    .link__rtc{
        font-family: $font;
        font-weight: 400;
        font-size: 1.2em;
        text-decoration: none;
        color: #000;
    }
}
