.subtitle{
    font-family: $font;
    font-weight: 600;
    font-size: 2em;
    color: rgb(0, 90, 0);
    text-align: center;
}
.subtitle-article{
    font-family: $font;
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(35, 128, 35);
}