@import './variables';
@import './blocks/header';
@import './blocks/slider';
@import './blocks/main';
@import './blocks/footer';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
